.selection-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.selection-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.musician-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    gap: 0px;
}

.musician-card {
    flex: 0 0 200px;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.musician-card:hover {
    transform: translateY(-5px);
}

.musician-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.musician-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.musician-card p {
    margin: 0;
    font-size: 1rem;
}

.service-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-carousel button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.message {
    text-align:start;
    font-size: 18px;
    color: #555; 
    margin-top: 20px; 
}


