.slot {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #70c161; 
}

.slot:hover {
    background-color: #36a123; 
}

.slot.available:hover {
    background-color: #a5d6a7;
}

.slot.booked {
    background-color: #ffcdd2;
}

.slot.booked:hover {
    cursor: default;
}
